@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Inter:wght@200;300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Dancing Script', cursive;
    font-family: 'Inter', sans-serif;
}

body {
    background-image: url("./../img/encriptador.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    display: flex;
    justify-content: start;
    margin: 1.5rem 0;
}

.logo__img {
    width: 120px;
}

main{
    height: calc(100vh - 96px);
    overflow-y: auto;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-content: center;   
}

/*--------------------- Contenedor izquierdo ---------------------*/

.contenedor-secun-izq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 40%;
    margin: auto 0 auto auto;
}

.contenedor-secun-izq__texto {
    width: 100%;
    min-height: 250px;
    padding: 1.5rem;
    background-color: rgb(192, 192, 192);
    color: rgb(0, 0, 255);
    font-weight: 500;
    border-radius: .5rem;
    border: 2px groove rgb(128, 128, 128);
    resize: none;  
}

.contenedor-izq-inf__condiciones{ 
    width: 100%;
    margin: 1.5rem .5rem;
    padding: .2rem .5rem;
    color: rgb(41, 240, 249);
    font-weight: 500; 
}

.contenedor-botones {
    display: flex;
    justify-content: space-between;
}

.contenedor-botones__boton {
    width: 49%;
    height: 2.5rem;
    border-radius: .5rem;
    font-weight: 700;
}

.contenedor-botones__encriptar, .contenedor-secun-der__copiar{
    background-color: rgb(0, 23, 31);
    color: rgb(41, 240, 249);
    border: 1px solid rgb(41, 240, 249);
}

.contenedor-botones__encriptar:hover {
    background-color: rgb(0, 13, 21);
    color: rgb(61, 185, 191);
    border: 2px solid rgb(61, 185, 191);
}

.contenedor-botones__desencriptar, .contenedor-secun-der__copiar:hover{
    background-color: rgb(41, 240, 249);
    color: rgb(0, 23, 31);
    border: 1px solid rgb(128, 128, 128);
}

.contenedor-botones__desencriptar:hover {
    background-color: rgb(11, 210, 219);
    color: rgb(0, 3, 11);
    border: 2px solid rgb(128, 128, 128);
}

/*--------------------- Contenedor derecho ---------------------*/

.contenedor-secun-der {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    width: 30%;
    margin: auto;
}

.contenedor-secun-der__item {
    width: 60%;;
    margin: .5rem 2rem;
    padding: 1rem;
    background-color: rgba(1, 48, 62, .9);
    border-radius: .5rem;
    text-align: center;
    color: rgb(192, 192, 192);
    min-width: 250px;
}

.contenedor-secun-der__mensaje {
    resize: none;
    overflow-y: auto;
    max-height: 700px;
    min-height: auto;
    padding: 1rem;
    text-align: center;
}

.contenedor-secun-der__figura {
    border: 2px groove rgb(128, 128, 128);
    
}

.contenedor-secun-der__alerta {
    border: 2px groove rgb(128, 128, 128);
}

.contenedor-secun-der__copiar {
    font-weight: 700;
    height: 2.5rem;
    padding: 0;
}

/*--------------------- Diseño Responsivo ---------------------*/


@media screen and (max-width: 400px) {

    .contenedor {
        flex-direction: column;
        justify-content: start;
    }

    /*-------------- Contenedor izquierdo --------------*/

    .contenedor-secun-izq {
        width: 90vw;
        margin: 0 auto;
        justify-content: start;
    }

    .contenedor-secun-izq__texto {
        margin-top: 1rem;
        min-height: 180px;
        padding: .5rem;
    }

    .contenedor-izq-inf__condiciones{
        margin: 1.5rem auto;
    }

    .contenedor-botones {
        flex-direction: column;
    }

    .contenedor-botones__boton {
        width: 100%;
        margin-bottom: 1rem;
    }

    /*-------------- Contenedor derecho --------------*/

    .contenedor-secun-der {
        justify-content: start;
        width: 100vw;
        margin: 1rem auto;
    }

    .contenedor-secun-der__item {
        width: 90%;
        margin: 1rem auto;
    }
    
    .contenedor-secun-der__mensaje {
        margin: 1rem auto;
        max-height: 180px;
    }
    
    .contenedor-secun-der__figura {
        display: none;
    }

    .contenedor-secun-der__alerta {
        margin-top: 0;
    }

    .contenedor-secun-der__copiar {
        margin: 0 auto;
    }

}

@media screen and (min-width: 400px) and (max-width: 768px) {

    .contenedor {
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
    }

    /*-------------- Contenedor izquierdo --------------*/

    .contenedor-secun-izq {
        width: 90vw;
        margin: 0 auto 1rem auto;
        height: 70%;
        justify-content: start;
    }

    .contenedor-secun-izq__texto {
        height: 65%;
        margin-top: 1rem;
    }

    .contenedor-izq-inf__condiciones{
        margin: 2rem 0;
    }

    .contenedor-botones {
        margin-bottom: 2rem;
    }
    
    .contenedor-botones__boton {
        height: 3rem;
    }

    /*-------------- Contenedor derecho --------------*/

    .contenedor-secun-der {
        justify-content: start;
        width: 100vw;
        /*height: 50%;*/
        margin: 0 auto;
    }

    .contenedor-secun-der__item {
        margin: auto;
    }

    .contenedor-secun-der__figura {
        width: 60%;
        margin-bottom: 2rem;
        background-color: transparent;
        border: none;
    }
    
    .contenedor-secun-der__mensaje {
        margin: 0 auto 1.5rem auto;
        width: 90%;
        padding-top: 1rem;
        overflow: hidden;
        order: 2;
        max-height: 400px;
        min-height: 90px;
    }
    
    .contenedor-secun-der__alerta {
        padding: 1.5rem;
        width: 90%;
        margin-bottom: 1rem;
        order: 1;
    }

    .contenedor-secun-der__copiar {
        width: 90%;
        height: 3rem;
        margin: .5rem auto;
        order: 5;
    }
}




