@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Inter:wght@200;300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Dancing Script', cursive;
    font-family: 'Inter', sans-serif;
}

body{
    background-image: url("./../img/encriptador.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    position: absolute;
    width: 120px;
    left: 40px;
    top: 40px;
}

.contenedor {
    width: 100%;
    height: 100vh;
    display: flex;
}

.contenedor-izq {
    width: 60%;
    height: 100%;
}

.caja-izq {
    margin: 150px 0 0 170px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;  
    height: 75%;
}

.caja-texto {
    width: 90%; 
    height: 70%;
}

.texto {
    background-color: rgba(1, 48, 62, .8);
    border: 1px solid rgb(41, 240, 249);
    color: rgb(192, 192, 192);
    border-radius: 32px;
    padding: 30px;
    width: 100%;
    height: 100%;
    font-size: 32px;
    font-weight: 400;
    resize:none; 
}

.texto:focus{
    outline:none; 
}

.texto::placeholder {  
    color: rgb(128, 128, 128);
}

.caja-botones{
    width: 90%; 
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.condiciones {
    margin-bottom: 15px;
    color: red;
}

i {
    vertical-align: middle;
}

.botones {
    display: flex;
    height: 15px; 
}

.boton {
    width: 328px;
    height: 55px;
    border: 1px solid rgb(41, 240, 249);
    border-radius: 20px;
}

.boton-encriptar {
    background-color: rgb(0, 23, 31); 
    margin-right: 15px;
    color: rgb(192, 192, 192);
}

.boton-desencriptar {
    background-color: rgb(38, 140, 157);
}

.contenedor-der {
    width: 40%; 
    height: 100%;
    margin: 20px auto 0 0;
}

.caja-der {
    background-color: rgba(1, 48, 62, .8); 
    border: 1px solid rgb(41, 240, 249);
    border-radius: 32px;
    height: 95%;
    width: 60%;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;   
    box-sizing: border-box;   
}

.figura {
    width: 80%;
    margin-top: 40px;
}

.alerta {
    width: 80%;
    background-color: rgba(1, 48, 62, .8);
    border-radius: 32px; 
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    color: rgb(192, 192, 192);
}

.mensaje {
    background-color: rgba(1, 48, 62, .8); 
    border-radius: 32px; 
    width: 80%;
    resize: none;
    height: 150px; 
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    border: none;
    margin-top: 10px;
    padding: 15px;
    color: rgb(192, 192, 192);
}

.w-80{
    width: 80%;
}

.mensaje:focus{
    outline:none; 
}

.copiar {
    width: 80%;
    height: 40px;
    /* background: #D8DFE8; */
    border: 1px solid #0A3871;
    border-radius: 10px;
}

.bg {
    background-color: #FFFFFF; 
}


/* ----------------- RESPONSIVE DESING ----------------- */

@media screen and (max-width: 768px) {

    .contenedor {
        height: 100vh;
        flex-direction: column;
    }

    .contenedor-izq {
        width: 100%;
        height: 75%;
    }

    .contenedor-der {
        width: 100%;
        height: 20%;
    }

    .caja-izq {
        margin: auto; 
        height: 100%; 
        width: 90%;
        justify-content: space-around;
    }

    .caja-der {
        height: 100%;
        width: 90%;
        margin: auto;
        border-radius: 15px;
    }

    .figura {
        display: none; 
    }

    .caja-texto {
        width: 100%;
        height: 70%;
    }

    .caja-botones {
        height: 150px;
        width: 100%;
    }

    .mensaje {
        height: 50%;
        width: 90%;
    }

    .alerta {
        margin-top: 25px;
    }

    .copiar {
        margin-bottom: 25px;
        height: 50px;
        width: 90%;
    }

    .botones {
        width: 100%;
    }

    .boton-desencriptar, .boton-encriptar {
        height: 50px;
        border-radius: 15px;
    }

    .texto {
        box-sizing: border-box;
        margin-top: 160px;
        padding: 45px;
        height: 75%;
    }
}

@media screen and (max-width: 375px) {

    .logo {
        left: 0px;
        top: 50px;
    }

    .contenedor {
        height: 933px;
    }

    .contenedor-izq {
        height: 75%;
    }

    .caja-izq {
        height: 100%;
    }

    .caja-texto {
        height: 70%;
    }

    .caja-botones {
        height: 30%;
    }

    .contenedor-der{
        height: 20%;
        margin: 0;
    }

    .condiciones {
        height: 20%;
        margin: 50px 0 0 0;
        padding: 0;
    }

    .botones {
        margin: 0;
        padding: 0;
        height: 60%;
        flex-direction: column;
    }

    .texto {
        height: 75%;
        font-size: 22px;
        font-weight: 300;
        margin-top: 150px;
    }

    .botones {
        flex-direction: column;
    }

    .boton-desencriptar, .boton-encriptar {
        margin-bottom: 15px;
        height: 50px;
        border-radius: 15px;
    }
}








